.main-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header en la parte superior, Footer en la parte inferior, contenido en medio */
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.content-wrapper {
    padding: 100px; /* Ajusta el padding a lo que necesites */
    overflow: auto; /* Permite que el contenido se desplace si es necesario */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}