/* Estilos para el componente de películas populares */
body, .genres-container {
    font-family: 'Arial', sans-serif;
  }

  
  .genres-container {
    padding: 20px;
    background: black;
  }
  
  .genres-container h2 {
    font-size: 2.2em; 
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: -0.5px; 
  }
  
  .movies-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .movie-card {
    position: relative;
    width: 200px;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  .movie-card:hover {
    transform: scale(1.05); 
  }
  
  .movie-image {
    width: 100%;
    height: 300px;
    object-fit: cover; 
    border-radius: 8px;
  }
  
  .movie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 8px;
    transition: opacity 0.3s ease;
  }
  
  .movie-card:hover .movie-overlay {
    opacity: 1; 
  }
  
  .movie-overlay .MuiButton-contained {
    background-color: #e50914;
    color: white;
    padding: 10px 16px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 4px;
  }
  
  .movie-overlay .MuiButton-contained:hover {
    background-color: #f40612;
  }
  
  /* Estilos del popover */
  .popover-content {
    background-color: #111;
    padding: 16px;
    color: #fff;
    border-radius: 8px;
  }
  
  .popover-content iframe {
    margin-bottom: 8px;
    border-radius: 8px;
  }
  
  .popover-content h6,
  .popover-content p,
  .popover-content span {
    color: #fff;
  }
  
  .popover-content .MuiTypography-h6 {
    font-size: 1.3em; 
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: -0.5px;
  }
  
  .popover-content .MuiTypography-body2 {
    font-size: 1.1em;
    margin-bottom: 12px;
  }
  
  .popover-content .MuiTypography-subtitle2 {
    font-size: 1em;
    color: #aaa;
  }
  