body,
.genres-container {
    font-family: 'Arial', sans-serif;
    background: #000;
}

.genres-container {
    padding: 20px;
    background: #000;
}

.genres-container h2 {
    font-size: 2.4em;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
    letter-spacing: -0.5px;
}

.movies-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    position: relative;
    width: 200px;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.movie-card:hover {
    transform: scale(1.05);
}


.movie-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.movie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 8px;
    transition: opacity 0.3s ease;
}

.movie-card:hover .movie-overlay {
    opacity: 1;
}

.movie-overlay .MuiButton-contained {
    background-color: #e50914;
    color: white;
    padding: 10px 16px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 4px;
}

.movie-overlay .MuiButton-contained:hover {
    background-color: #f40612;
}

/* Estilos del popover */
.popover-content {
    background-color: #111;
    padding: 16px;
    color: #fff;
    border-radius: 8px;
}

.popover-content iframe {
    margin-bottom: 8px;
    border-radius: 8px;
}

.popover-content h6,
.popover-content p,
.popover-content span {
    color: #fff;
}

.popover-content .MuiTypography-h6 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: -0.5px;
}

.popover-content .MuiTypography-body2 {
    font-size: 1.1em;
    margin-bottom: 12px;
}

.popover-content .MuiTypography-subtitle2 {
    font-size: 1em;
    color: #aaa;
}


/* Fondo de cartelera completamente negro */
.genres-container {
    background: #000;
}

.movie-overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.movie-card:hover {
    transform: scale(1.05) rotate(2deg);
}

/* Añadir un toque de transición a la caja de la tarjeta */
.movie-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

/* Agregar un color de borde al hacer hover */
.movie-card:hover {
    border: 3px solid #00bcd4;
}

/* Estilos manuela */

.movie-section {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container h1 {
    color: white;
    margin-bottom: 32px;
    display: flex;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeIn 1s ease-in-out;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 55px;
    background: linear-gradient(135deg, #1a1a1a, #333);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.carousel-container:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
}

.carousel .slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.carousel .slide img:hover {
    transform: scale(1.05);
}

.carousel .legend {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 0 0 15px 15px;
    animation: fadeIn 1s ease-in-out;
}

.carousel .legend h2 {
    margin: 0;
    font-size: 1.5em;
}

.carousel .legend p {
    margin: 10px 0 0;
    font-size: 0.8em;
}

.carousel-item {
    position: relative;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 30%;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease-in-out;
}

.carousel-item:hover .play-button {
    display: block;
}

.play-button:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}